@{
    ViewData["Title"] = "Stranger";
}

<div class="min-vh-100 d-flex align-items-center justify-content-center flex-column w-100">
    <div class="d-flex flex-column justify-content-center align-items-center text-center p-4 col-10">
        <div style="max-width:450px;">
            <img class="img-fluid" id="homepage_logo" src="~/asset/image/logo.png" alt="logo">
        </div>
        <h1 class="mb-4">Welcome to InstaMeet</h1>
        <form id="homepage_form" class="w-100" method="post" action="@Url.Action("Waiting", "Stranger")">
            <div class="m-auto" style="max-width:450px;">
                <select class="form-select mb-3" aria-label=".form-select-lg example">
                    <option selected>You want to find</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="m-auto d-flex" style="max-width:450px;">
                <select class="form-select mb-3 me-1" aria-label=".form-select-lg example" style="width:49%;">
                    <option selected>Whose age is</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select mb-3 ms-1" aria-label=".form-select-lg example" style="width:49%;">
                    <option selected>And come from</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="m-auto custom-control mb-3 custom-checkbox" style="max-width:450px;text-align:left;">
                <input type="checkbox" class="custom-control-input" id="defaultChecked2" checked>
                <label class="custom-control-label" for="defaultChecked2">Accept attendee automatically</label>
            </div>
            <button type="submit" class="btn btn-primary me-2" style="max-width: 162px;">Let's find out!</button>
        </form>
    </div>
</div>