@{
    ViewData["Title"] = "Stranger";
}

<div class="min-vh-100 d-flex align-items-center justify-content-center flex-column w-100">
    <div style="max-width:550px">
        <img class="img-fluid" id="homepage_logo" src="~/asset/image/logo.png" alt="logo" style="margin: 0px 0px 20px 0px">
        <form id="homepage_form" class="w-100" method="post" action="@Url.Action("FindOut", "Stranger")">
            <div class="textInputWrapper" style="margin: 0px 0px 20px 0px">
                <input placeholder="Your display name" type="text" class="textInput">
            </div>
            <div class="m-auto d-flex">
                <select class="form-select mb-3 me-1" aria-label=".form-select-lg example" style="width:49%;">
                    <option selected>Your gender</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Gay</option>
                    <option value="3">Lesbian</option>
                    <option value="3">Other</option>
                </select>
                <select class="form-select mb-3 ms-1" aria-label=".form-select-lg example" style="width:49%;">
                    <option selected>Your age</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="m-auto mb-3">
                <select class="form-select mb-3" aria-label=".form-select-lg example">
                    <option selected>Your come from</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <center>
                <a class="custom-btn">
                    NEXT
                    <span></span>
                </a>
            </center>
        </form>
    </div>
</div>