@using System.Drawing;
@{
    ViewData["Title"] = "Stranger";
}

@section customHead {
    <link rel="stylesheet" href="~/css/room_meeting.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
}
<div class="d-flex align-items-center justify-content-center gap-2 h-100">
    <div id="div_left_meeting" class="col-8 border border-2 rounded-3">
        <div id="div_share_screen" style="height:70%;border:2px solid black;">
            Your sharing screen
        </div>
        <div id="div_left_video_meeting" class="row row-cols-2 justify-content-center" style="margin:0;padding:0;height:20%;">
            @for (int i = 0; i < 2; i++)
            {
                Random rnd = new Random();

                Color randomColor = Color.FromArgb(rnd.Next(256), rnd.Next(256), rnd.Next(256));
                <div class="user-card d-flex align-items-center justify-content-center">
                    <div id="div_background_user_card" class="d-flex flex-column align-items-center justify-content-center" style="background-color:black;border-radius:0.5rem;">
                        <div style="width:75px;height:75px;background-color:rgb(@randomColor.R, @randomColor.G, @randomColor.B);color:white;" class="rounded-circle d-flex align-items-center justify-content-center">
                            OK
                        </div>
                    </div>
                </div>
            }
        </div>
        <div id="div_footer_left_meeting" class="p-2 d-flex align-items-center justify-content-center" style="height:10%;">
            <span id="time_meeting" class="me-2">
                00:00:00
            </span>
            |
            <span id="id_room_meeting" class="ms-2">
                12345
            </span>
            <div id="div_control_meeting" class="d-flex col-10 pb-2 align-items-center justify-content-center">
                <button id="btn-icon-visibility" class="col-1 bg-white rounded-circle d-flex flex-column align-items-center justify-content-center mx-2" type="button" style="width:40px;height:40px;" onclick="changeMicState()">
                    <span class="material-icons" id="icon_mic_meeting">
                        mic
                    </span>
                </button>
                <button id="btn-icon-visibility" class="col-1 bg-white rounded-circle d-flex flex-column align-items-center justify-content-center mx-2" type="button" style="width:40px;height:40px;" onclick="changeCamState()">
                    <span class="material-icons" id="icon_cam_meeting">
                        videocam
                    </span>
                </button>
                <button id="btn-icon-visibility" class="col-1 bg-white rounded-circle d-flex flex-column align-items-center justify-content-center mx-2" type="button" style="width:40px;height:40px;">
                    <span class="material-icons" id="icon_end_meeting">
                        call_end
                    </span>
                </button>
                <button id="btn-icon-visibility" class="col-1 bg-white rounded-circle d-flex flex-column align-items-center justify-content-center mx-2" type="button" style="width:40px;height:40px;" onclick="openChat()">
                    <span class="material-icons" id="icon_chat_meeting">
                        chat
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div id="div_right_meeting" class="col-3 d-flex flex-column align-items-center border border-2 rounded-3">
        <div id="div_header_right_meeting" class="w-100 d-flex p-2 justify-content-between">
            <button id="btn-icon-visibility" class="col-1 bg-white border-0 d-flex flex-column align-items-center justify-content-center" type="button" onclick="closeChat()">
                <span class="material-icons" id="icon_close_modal_join_room">
                    file_download
                </span>
            </button>
            <button id="btn-icon-visibility" class="col-1 bg-white border-0 d-flex flex-column align-items-center justify-content-center" type="button" onclick="closeChat()">
                <span class="material-icons" id="icon_close_modal_join_room">
                    clear
                </span>
            </button>
        </div>
        <div id="div_chat_right_meeting" class="w-100 h-100">
            <div id="div_check_chat_enable" class="w-100 d-flex p-2 px-3">
               
            </div>
        </div>
        <div id="div_footer_right_meeting" class="w-100 d-flex p-4">
            <button id="btn_attach_file" class="bg-white py-2 d-flex justify-content-center" type="button">
                <span class="material-icons" id="icon_clear_id">
                    attach_file
                </span>
            </button>
            <div class="form-outline d-flex">
                <input type="text" id="input_chat_meeting" class="form-control border-0" />
                <label id="lb_input_chat_meeting" class="form-label" for="input_chat_meeting">Your message</label>
                <button id="btn_icon_send" class="bg-white py-2 d-flex justify-content-center" type="button">
                    <span class="material-icons" id="icon_clear_id">
                        send
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>

@section script {
    <script src="~/js/meeting.js" asp-append-version="true"></script>
}
