@{
    ViewData["Title"] = "Home";
}

@section customHead {
    <link rel="stylesheet" href="~/css/home_friendhub.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
}

<div class="modal fade" id="ModalJoinRoom" tabindex="-1" aria-labelledby="ModalJoinRoomTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalJoinRoomTitle">Join your mate's room</h5>
                <button id="btn-icon-visibility" class="bg-white py-2 ps-0 d-flex justify-content-center" type="button" data-bs-dismiss="modal" aria-label="Close" style="border:none;">
                    <span class="material-icons" id="icon_close_modal_join_room">
                        clear
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_join_mate_room">
                    <div class="input-group mb-3">
                        <div class="form-outline m-auto d-flex w-100" style="max-width:450px;">
                            <input type="text" id="input-room-mate-id" class="form-control border-0" />
                            <label id="lb-input-room-mate-id" class="form-label" for="input-room-mate-id">Room ID or URL</label>
                            <span class="input-group-append col-1 d-flex justify-content-end input-custom">
                                <button id="btn-icon-visibility" class="bg-white border-start-0 border rounded-end py-2 pe-2 ps-0 d-flex justify-content-center" type="button">
                                    <span class="material-icons" id="icon_clear_id" onclick="clearText()">
                                        clear
                                    </span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-outline m-auto d-flex w-100" style="max-width:450px;">
                            <input type="password" id="input-pass-mate-room" class="form-control border-0" />
                            <label class="form-label" for="input-pass-mate-room">Password</label>
                            <span class="input-group-append col-1 d-flex justify-content-end input-custom">
                                <button id="btn-icon-visibility" class="bg-white border-start-0 border rounded-end py-2 pe-2 ps-0 d-flex justify-content-center" type="button">
                                    <span class="material-icons" id="icon_pass_off" onclick="changeIcon()">
                                        visibility_off
                                    </span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="w-100 text-center">
                        <button type="submit" class="btn btn-primary me-2">Join</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="min-vh-100 d-flex align-items-center justify-content-center flex-column w-100">
    <div class="d-flex flex-column justify-content-center align-items-center text-center p-4 col-10">
        <div style="max-width:550px;">
            <img class="img-fluid" id="homepage_logo" src="~/asset/image/logo.png" alt="logo">
            <form id="homepage_form" class="w-100" method="post" action="@Url.Action("Meeting", "Room")">
                <center>
                    <div class="textInputWrapper">
                        <input placeholder="Your display name" type="text" class="textInput">
                    </div> 
                    <button type="submit" class="btn btn-primary me-2" style="max-width: 162px;">Create a Room</button>
                    <button type="button" class="btn btn-primary ms-2" style="max-width: 162px;" data-bs-toggle="modal" data-bs-target="#ModalJoinRoom">Join a Room</button> 
                </center>
                
            </form>
        </div>
        
    </div>
</div>
@section script {
    <script src="~/js/home_friendhub.js" asp-append-version="true"></script>
}



