

@media (max-width: 770px) {
    button {
        width: 70% !important;
    }
}

@media (max-width: 400px) {
    button {
        width: 90% !important;
    }
}

#input_display_name {
    display: initial !important;
}

.input-custom:focus {
    border: none !important;
    box-shadow: none !important;
}

.btn-custom:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.btn-close:focus ,.form-control:focus {
    border-color: var(--primary-color-dark) !important;
    box-shadow: 0 0 0 0.25rem rgba(52, 168, 83, 0.25);
}


.div-friendhub-custom:focus-within, .btn:focus {
    border-color: var(--primary-color-dark) !important;
    box-shadow: 0 0 0 0.25rem rgba(52, 168, 83, 0.25) !important;
}