:root {
    --card-bg-01: #fdefe6;
    --card-bg-02: #d6e5fb;
    --card-bg-03: #ceebe9;
    --card-bg-04: #14160f;
    --primary-color: #34a853;
    --primary-color-dark: #216934;
    --secondary-color-0: #fdfbf8;
    --secondary-color-1: #fff4e7;
    --secondary-color-2: #eeebff;
    --secondary-color-3: #e0eff6;
    --secondary-color-4: #caf3e5;
    --hero-bg: #c4c4c4;
    --heading-fontSize: 2rem;
    --small-text-color: #999;
    --heading-text-color: #0a1d37;
    --xs: 0;
    --sm: 576px;
    --md: 768px;
    --lg: 992px;
    --xl: 1200px;
    --xxl: 1400px;
    --black: #000;
    --white: #fff;
    --light: #f0f0f0;
}

/* reset browser default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    height: 100%;
    font-size: 1.15rem;
}

body {
    color: var(--primary-color);
    font-size: 1.15rem;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

h1,
h2 {
    font-size: var(--heading-fontSize) !important;
}

